In [2]:
import ScraperFC as sfc

try:
    scraper = sfc.Understat()
    df = scraper.scrape_league_table(2019,"La Liga")
    scraper.close()
except Exception as e:
    print(e)
    scraper.close()
df

,Team,M,W,D,L,G,GA,PTS,xG,NPxG,xGA,NPxGA,NPxGD,PPDA,OPPDA,DC,ODC,xPTS
0,Barcelona,38,26,9,3,90,36,87,83.28,76.58,83.28,43.44,33.14,8.43,15.24,417,171,73.96
1,Atletico Madrid,38,22,10,6,55,29,76,51.87,48.73,51.87,37.72,11.01,10.30,10.29,252,190,59.43
2,Real Madrid,38,21,5,12,63,46,68,68.65,61.97,68.65,42.73,19.24,8.67,13.52,341,168,64.77
3,Valencia,38,15,16,7,51,35,61,61.88,56.57,61.88,36.91,19.66,12.08,9.03,278,215,65.16
4,Sevilla,38,17,8,13,62,47,59,69.16,64.54,69.16,41.51,23.03,10.08,9.50,321,211,65.08
5,Getafe,38,15,14,9,48,35,59,47.03,42.58,47.03,39.02,3.56,8.57,5.38,186,196,53.19
6,Espanyol,38,14,11,13,48,50,53,50.16,47.18,50.16,48.55,-1.36,9.31,9.26,241,241,50.09
7,Athletic Club,38,13,14,11,41,45,53,44.44,38.92,44.44,43.44,-4.53,7.97,10.54,221,185,50.01
8,Real Sociedad,38,13,11,14,45,46,50,47.99,40.55,47.99,45.68,-5.13,9.36,9.19,194,208,51.13
9,Real Betis,38,14,8,16,44,52,50,51.68,46.35,51.68,49.83,-3.48,8.12,11.34,241,220,52.39
10,Alaves,38,13,11,14,39,50,50,40.87,38.64,40.87,50.07,-11.43,10.51,6.72,129,270,44.02
11,Eibar,38,11,14,13,46,50,47,56.63,50.69,56.63,44.91,5.78,6.83,10.26,235,177,56.75
12,Leganes,38,11,12,15,37,43,45,41.25,37.53,41.25,40.80,-3.26,11.51,9.22,155,190,51.15
13,Villarreal,38,10,14,14,49,52,44,54.80,50.33,54.80,52.40,-2.08,9.89,10.46,232,263,52.18
14,Levante,38,11,11,16,59,66,44,54.09,48.89,54.09,72.01,-23.13,9.61,6.58,206,295,40.23
15,Celta Vigo,38,10,11,17,53,62,41,48.70,43.50,48.70,58.23,-14.73,10.35,10.89,195,248,41.63
16,Real Valladolid,38,10,11,17,32,51,41,41.64,36.44,41.64,50.83,-14.39,10.17,8.55,139,243,41.80
17,Girona,38,9,10,19,37,53,37,42.99,38.53,42.99,49.39,-10.86,10.08,9.44,177,261,45.17
18,SD Huesca,38,7,12,19,43,65,33,51.38,46.18,51.38,56.74,-10.56,9.59,7.68,171,259,44.96
19,Rayo Vallecano,38,8,8,22,41,70,32,47.23,43.52,47.23,54.00,-10.48,9.20,6.99,133,253,43.02